{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'logo.jpg' %}">
    <link rel="stylesheet" href="{%static 'styl.css' %}">
    <title>Amlan crea | details</title>
</head>
<body>
    {% block content %}
    <div class="products-preview"> 
        <div class="preview active">
            <i class="fas fa-times"></i>
            <img src="{{produit.image.url}}">
            <h3>{{produit.titre}}</h3>
            <p>{{produit.description}}</p>
            <div class="price">{{produit.prix}} F CFA</div>
            <div class="buttons">
                <a href="{% url 'supprimer_du_panier' produit.id %}" class="buy">Supprimer du panier</a>
                <a href=" {% url 'ajout_panier' produit.id %}" class="cart">Ajouter au panier</a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let previewContainer = document.querySelector('.products-preview');
    let previewBox = previewContainer.querySelectorAll('.preview');
    previewBox.forEach(close =>{
        close.querySelector('.fa-times').onclick = () =>{
            close.classList.remove('active');
            window.location.href=" {% url 'index' %} ";
            previewContainer.style.display = 'none';
        };
    });
</script>
</html>