body{
    margin: 0;
    font-family: sans-serif;
    background:#f2f2f2 ;  
 }
 h3{
     text-align: center;
     font-size: 30px;
     margin: 0;
     padding-top: 10px;
 }
 a{
     text-decoration: none;
     color: #fff;
 }
 .gallery{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     justify-content: center;
     align-items: center;
     margin: 50px 0;
 }
 .content{
     width: 20%;
     margin: 15px;
     float: left;
     overflow: hidden;
     box-sizing: border-box;
     text-align: center;
     border-radius: 20px;
     cursor: pointer;
     padding-top: 10px;
     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
     0 10px 10px rgba(0, 0, 0, 0.22);
     transition: .4s;
     background: #f2f2f2;
 }
 .content:hover{
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
     0 3px 6px rgba(0, 0, 0, 0.23);
     transform: translate(0px , -8px);
 }
 img{
     width: 200px;
     height: 200px;
     text-align: center;
     margin: 0 auto;
     display: block;
 }
 p{
     text-align: center;
     color: #b2bec3;
     padding-top: 0 8px;
 }
 h6{
     font-size: 26px;
     text-align: center;
     color: #222f3e;
     margin: 0;
 }
 ul{
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0;
 }
 li{
     padding: 5px;
 }
 .fa{
     font-size: 26px;
     transition: .4s;
    
 }
 .fa:hover{
     transform: scale(1.3);
     transition: .6s;
 }
 .checked{
     color: #ff9f43;
 }
 button{
    text-align: center;
    font-size: 24px; 
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 .buy{
     background: #2183a2;
 }
 
 .products-preview{
     position: fixed;
     top: 0; left: 0;
     min-height: 100vh;
     width: 100%;
     background: rgba(0, 0, 0, .8);
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .products-preview .preview{
     display: flex;
     padding: 2rem;
     text-align: center;
     background: #fff;
     position:relative;
     margin: 2rem;
     width: 40rem;
 }
 
 .products-preview .preview.active{
     display: inline-block;
 }
 
 .products-preview .preview img{
     height: 200px;
 }
  
 .products-preview .preview .fa-times{
     position: absolute;
     top: 1rem; right: 1.5rem;
     cursor: pointer;
     color: #444;
     font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
     transform: rotate(90deg);
 }
 
 .products-preview .preview .h3{
     color: #444;
     padding: 5rem 0;
     font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
     padding: 1rem 0;
     font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
     color: #ff9f43;
 }
 
 .products-preview .preview p{
     line-height: 1.5;
     padding: .1rem 0;
     font-size: 1.6rem;
     color: #777;
 }
 
 .products-preview .preview .price{
     padding: 1rem 0;
     font-size: 2.5rem;
     color: #222f3e;
 } 
 
 .products-preview .preview .buttons{
     display: flex;
     gap: 1rem;
     flex-wrap: wrap;
     margin-top: 1rem;
 }
 
 
 .products-preview .preview .buttons a{
     flex: 1 1 10rem;
     padding: 1rem;
     font-size: 1.8rem;
     color: #fff;
     
 }
 
 .products-preview .preview .buttons a.cart{
     background:  #2183a2;
     color: #fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
     background: rgb(0, 128, 79);
     color: #fff;
 }
 
 .products-preview .preview .buttons a.buy:hover{
     background: rgb(197, 13, 13);
     color: #fff;
 }
 
 @media(max-width:1000px){
     .content{
         width: 45%;
     }
 
     .preview{
         width: 45%;
     }
 }
 @media(max-width:750px){
     .content{
         width: 100%;
     }
 
     .preview{
         width: 100%;
     }
 }